%h2 業者編集画面
= form_with(model: @seller, url: admins_seller_path, method: :put) do |f|
  .field
    = f.label :name
    %br
    = f.text_field :name, autofocus: true
  .field
    = f.label :email
    %br
    = f.email_field :email
  %p= f.submit
