%h2 編集画面
= form_with(model: @user, url: admins_user_path, method: :put) do |f|
  %p= f.label :name
  %p= f.text_field :name
  %p= f.label :email
  %p= f.email_field :email
  %p= f.label :address
  %p= f.text_area :address
  %p= f.submit
