%h2 カートアイテム購入画面
%p 配達日時を選択してくだい
= form_with(model: @order, url: users_orders_path) do |f|
  %p= f.date_field :delivery_date
  %p= f.select :delivery_time_id, delivery_times_option
  %p= f.hidden_field :send_fee
  %p= f.hidden_field :cod_charge

  = f.submit '購入する'
