%h2 カートアイテム購入画面
%p 配達日時を選択してください
%p ※3営業日（営業日: 月-金）から14営業日までの間でご指定お願いします
= form_with(model: @order, url: users_orders_path) do |f|
  %p= f.date_field :delivery_date, min: Date.current + 3, max: max_delivery_date
  %p= f.select :delivery_time_id, delivery_times_option
  %p= order_total_price(current_user.cart_items_price, current_user.send_fee, current_user.cod_charge)
  %p --ポイントを利用する--
  %p= f.number_field :consume_point, min: 0, value: 0
  %p ※入力したポイント分が合計金額から引かれます(1ポイント = 1円)
  %p ※ポイント残数: #{current_user.remaining_point}
  = f.submit '購入する'
