%h2 商品詳細画面
%p= image_tag @product.image_url if @product.image.present?
%p= @product.name
%p= change_JPY(@product.price)
%p= @product.content
%p= @product.seller.name
%p 在庫: #{@product.stock}
= link_to '編集', edit_sellers_product_path
