%h2 商品登録画面
= form_with(model: @product, url: admins_products_path) do |f|
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :price
    %br
    = f.text_field :price
  %p
    = f.label :seller_id
    %br
    = f.select :seller_id, sellers_option, include_blank: '--選択して下さい--'
  = f.submit
