!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SakuraMarket
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if !admin_signed_in? && !user_signed_in?
      = link_to 'ログイン(管理者)', new_admin_session_path
      = link_to 'ログイン(ユーザー)', new_user_session_path

    - if admin_signed_in?
      = link_to '商品一覧', admins_products_path
      = link_to 'ユーザー一覧', admins_users_path
      = link_to 'ログアウト(管理者)', destroy_admin_session_path, method: :delete

    - if user_signed_in?
      = link_to '商品一覧', users_products_path
      = link_to 'カート', users_cart_items_path
      = link_to '購入履歴', users_orders_path
      = link_to '日記一覧', users_diaries_path
      = link_to 'マイページ', users_mypage_path
      = link_to 'ログアウト(ユーザー)', destroy_user_session_path, method: :delete
    %p= notice
    %p= alert
    = yield
